<!--<div class="about-me">-->
<!--  <div class="toggle-bth roll" (click)="toggleText()">-->
<!--    <h2>-->
<!--      <div class="icon-circle">-->
<!--        <i class="fa-solid fa-user-tie icons"></i>-->
<!--      </div>About me-->
<!--    </h2>-->
<!--  </div>-->

<!--  <div class="roll-block" *ngIf="isTextVisible">-->
<!--    &lt;!&ndash; Відображення помилки &ndash;&gt;-->
<!--    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>-->

<!--    &lt;!&ndash; Відображення тексту &ndash;&gt;-->
<!--    <p *ngFor="let paragraph of paragraphs">{{ paragraph }}</p>-->
<!--  </div>-->
<!--</div>-->
<div class="about-me">
  <div class="toggle-bth roll" (click)="toggleText()">
    <h2>
      <div class="icon-circle">
        <i class="fa-solid fa-user-tie icons"></i>
      </div>
      About me
    </h2>
  </div>

  <div class="roll-block" *ngIf="isTextVisible">
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <p *ngFor="let paragraph of paragraphs">{{ paragraph }}</p>

    <textarea [(ngModel)]="newAboutMeText" placeholder="Введіть новий текст"></textarea>
    <button (click)="sendNewText()">Надіслати</button>
  </div>
</div>
