<div class="row">
  <div class="col-lg-2 left-col3">
    <div class="timeline">
      <div class="timeline-item">
        <div class="toggle-bth roll"> <div class="icon">
          <i class="fa-solid fa-users icons" ></i>
        </div>
        </div>
        <div class="line5"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line7"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line8"></div>
      </div>

    </div>
  </div>

  <div class="col-lg-10 right-col2">
    <div class="references">
      <h2>References</h2>
      <div class="roll-block">
        <div class="references-item"></div>
        <h3><strong>Darwin B. Magana</strong></h3>
        <p>2813 Shobe Lane Mancos, CO.</p>
        <p>Tel: +1-970-533-3393</p>
        <p>Email: www.yourwebsite.com</p>

        <div class="references-item"></div>
        <h3><strong>Robert J. Belvin</strong></h3>
        <p>2119 Fairfax Drive Newark, NJ.</p>
        <p>Tel: +1-908-987-5103</p>
        <p>Email: www.yourwebsite.com</p>
      </div>
    </div>
  </div>
</div>
