.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  //margin-top: 20px;

  .image {
    width: 10px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

}
.container-fluid {
  padding: 0;
}

.resume {
  width: 100%;
  //height: 100vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  flex-direction: row;
  //margin: 0 auto;
}
.left-column {
  padding-left: 115px;
  padding-right: 0;
  margin-right: 0;
  background-color: #29343a;
  color: white;
  padding-bottom: 125px;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 110px;
  padding-right: 0;
  background-color: #fff;
  width: 50%;
}

.custom-title {
  background-color: #ffc0cb;
  color: white;
  padding: 1% 2% 1% 2%;
  font-size: 35px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // напівпрозорий фон
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
