<div class="row">
  <div class="col-lg-2 left-col3">
    <div class="timeline">
      <div class="timeline-item">
        <div class="toggle-bth roll">
          <div class="icon">
            <i class="fa-solid fa-briefcase icons" ></i> <!-- Іконка -->
          </div></div>
        <div class="line5"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line4"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line4"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line6"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 right-col2">
    <div class="job-experience">
      <h2>Job experience</h2>
      <div class="roll-block">
        <div class="job-item">
          <h3><strong>Web Designer</strong> <span class="years">2020 - Present</span></h3>
          <p class="raleway-italic">Creative Agency / Chicago</p>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type.</p>
        </div>
        <div class="job-item">
          <h3><strong>Graphic Designer</strong> <span class="years" >2015 - 2020</span></h3>
          <p class="raleway-italic">Creative Market / Chicago</p>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type.</p>
        </div>
        <div class="job-item3">
          <h3><strong>Marketing Manager</strong> <span class="years">2013 - 2015</span></h3>
          <p class="raleway-italic">Manufacturing Agency / NJ</p>
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type.</p>
        </div>
      </div>
    </div>
  </div>
</div>
