<div class="row">
  <div class="col-lg-2 left-col30">
    <div class="timeline">
      <div class="timeline-item">
        <div class="toggle-bth roll">
          <div class="icon">
            <i class="fa-solid fa-user icons"></i>
          </div> </div>
        <div class="line"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line3"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 right-col3">
    <div class="contact-me">
      <div class="contact-header">
        <h2> Contact Me</h2>
      </div>
      <div class="roll-block">
        <div class="row">
          <div class="col-lg-2 left-col4">
            <div class="icon-circle1">
              <i class="fas fa-phone"></i></div>
            <div class="icon-circle1">
              <i class="fas fa-globe"></i></div>
            <div class="icon-circle1">
              <i class="fas fa-map-marker-alt"></i></div>
          </div>
          <div class="col-lg-10 right-col1">
            <div class="contact-item">
              <p>+1-718-310-5588 <br> +1-313-381-8167 </p>
            </div>
            <div class="contact-item">
              <p>www.yourwebsite.com <br> yourinfo&#64;email.com </p>
            </div>
            <div class="contact-item">
              <p>769 Prudence Street <br> Lincoln Park, MI 48146 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
