.contact-me{
  margin-top: 25px;
  p{
    align-items: center;
    display: flex;
    font-size: 25px;
    margin: 10px 0;
    padding: 0;
    //font-family: $rale;
  }
}
.contact-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 47px;
    font-weight: 700;
    text-transform: uppercase;
    //font-family: $rale;
  }
}
.contact-item {
  font-size: 26px;
  margin-top: 15px;
  position: relative;
}
.icon-circle1 {
  display: flex;
  padding-right: 0;
  //margin-right: 20px;
  background-color: #02c5db;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.timeline {
  position: relative;
  margin-top: 20px;
  margin-left: 0;
}
.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon {
  background-color: #02c5db;
  color: #29343a;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.circle {
  background-color: #02c5db;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px 0;
}

.line {
  width: 4px;
  height: 60px;
  background-color: #02c5db;
}
.line3 {
  width: 4px;
  height: 40px;
  background-color: #02c5db;
}
.left-col30{
  padding: 0;
  margin: 0;
  position: relative;
}
.right-col3 {
  background-color: #fff;
  width: 50%;
}
.left-col4 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
}
.right-col1 {
  padding: 0;
}
