<div class="row">
  <div class="col-lg-2 left-col10">
    <div class="timeline ">
      <div class="timeline-item">
        <div class="icon" >
          <i class="fa-solid fa-graduation-cap"></i> <!-- Іконка -->
        </div>
        <div class="line5"></div>
      </div>
      <div class="timeline-item ">
        <div class="circle"></div>
        <div class="line7"></div>
      </div>
      <div class="timeline-item">
        <div class="circle"></div>
        <div class="line9"></div>
      </div>
    </div>
  </div>

  <!--                <div class="col-lg-10 right-col1">-->
  <!--                    <div class="education">-->
  <!--                        &lt;!&ndash; Заголовок Education біля іконки &ndash;&gt;-->
  <!--                        <div class="toggle-bth roll">-->
  <!--                            <div class="education-header">-->
  <!--                                <h2>Education</h2>-->
  <!--                            </div> </div>-->
  <!--                        &lt;!&ndash; Текст біля першого кружечка &ndash;&gt;-->
  <!--                        <div class="roll-block">-->
  <!--                            <div class="education-item">-->
  <!--                                <p><strong>Stanford University</strong></p>-->
  <!--                                <h3>Master Degree Graduate</h3>-->
  <!--                                <p><span class="year">2011 - 2013</span></p>-->
  <!--                            </div>-->
  <!--                            &lt;!&ndash; Текст біля другого кружечка &ndash;&gt;-->
  <!--                            <div class="education-item2">-->
  <!--                                <p><strong>University of Chicago</strong></p>-->
  <!--                                <h3>Bachelor Degree Graduate</h3>-->
  <!--                                <p><span class="year">2007 - 2010</span></p>-->
  <!--                            </div>-->
  <!--                        </div>-->
  <!--                    </div>-->
  <!--                </div>-->
  <div class="col-lg-10 right-col1">
    <div class="education">
      <!-- Заголовок Education біля іконки -->
      <div class="toggle-bth roll">
        <div class="education-header">
          <h2>Education</h2>
        </div>
      </div>
      <!-- Текст біля першого кружечка -->
      <div class="roll-block">
        <div class="education-item">
          <p><strong></strong></p>
          <h3></h3>
          <p><span class="year"></span></p>
        </div>
        <!-- Текст біля другого кружечка -->
        <div class="education-item2">
          <p><strong></strong></p>
          <h3></h3>
          <p><span class="year"></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
